<!DOCTYPE html>
<html>
<head>
	<title>毕业100-2</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/index2.css">
</head>
<body>
  <div id="content">
    <div id="Home">   
      <div id="background">
        <img src="img/2-3.png" style="width:100%">
      </div>  
      <div id="name">
        <img src="img/2-4.png" style="width:100%">
        <input id="nameText" v-model="username" placeholder="填写姓名" maxlength="8"/>
      </div>
      <div id="major">
        <img src="img/2-5.png" style="width:100%">
        <input id="majorText" v-model="usermajor" placeholder="填写专业" maxlength="12"/>
      </div>
      <div id="love_building">
        <img src="img/2-6.png" style="width:100%">
        <input id="buildingText" v-model="building" placeholder="填写你喜欢的复旦建筑" maxlength="12"/>
      </div>
      <div id="love_food">
        <img src="img/2-7.png" style="width:100%">
        <input id="foodText" v-model="food" placeholder="填写你喜欢的食堂菜品" maxlength="12"/>
      </div>
      <div id="load">
        <img src="img/2-8.png" style="width:100%">
      </div>
      <div id="square">
        <img src="img/2-2.png" style="width:100%">
      </div>
      <div id="btn" >
        <img onclick="select()" src="img/2-9.png" alt="666" style="width:100%">
      </div>

    </div>
  </div>
</body>

 <script type="text/javascript">
    function onload(){
	    var sen = "Home";  
	    var width = document.documentElement.clientWidth;
      var height = document.documentElement.clientHeight;
	    var ratio = width / height;
	    if (ratio > (9 / 16)) {
	      var bodywidth = height * 9 / 16;
	      var margin = (width - bodywidth) / 2;
	      document.getElementById(sen).style.height= height + 'px';
	      document.getElementById(sen).style.width= bodywidth + 'px';
	      document.getElementById(sen).style.marginLeft= margin + 'px';
	      document.getElementById(sen).style.marginRight= margin + 'px';
	    }else if(ratio < (9 / 16)){
	      var bodyheight = width * 16 / 9;
	      var margin = (height - bodyheight) / 2;
	      document.getElementById(sen).style.height = bodyheight + 'px';
	      document.getElementById(sen).style.width = width + 'px';
	      document.getElementById(sen).style.marginTop = margin + 'px';
	      document.getElementById(sen).style.marginBottom = margin + 'px';
	    }else{
	      document.getElementById(sen).style.height = height + 'px';
	      document.getElementById(sen).style.width = width + 'px';
	      document.getElementById(sen).style.marginTop = 0 + 'px';
	      document.getElementById(sen).style.marginBottom = 0 + 'px';
	    }
  	}
  	onload();

    function select(){
      var name = document.getElementById("nameText");
      var major = document.getElementById("majorText");
      var build = document.getElementById("buildingText");
      var food = document.getElementById("foodText");
  	 if((name.value == '')||(major.value == '')||(build.value == '')||(food.value == '')){
          alert(+'信息还未完善哦~')
      }
      else{
        window.sessionStorage["name"] = name.value;
        window.sessionStorage["major"] = major.value;
        window.sessionStorage["build"] = build.value;
        window.sessionStorage["food"] = food.value;
        window.location.href = "select.html";
      }
    }
    postdata();

</script>
</html>
