<!DOCTYPE html>
<html>
<head>
	<title>毕业100</title>
	<meta charset="utf-8">
  <!-- <meta http-equiv="refresh" content="4;url=index4.html"> -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index3.css">
</head>
<body style="margin: 0">
  <div id="content">
    <div id="Home">   
      <div id="loading">
        <img src="__PUBLIC__/img/3-2.png" style="width:100%">
      </div>  
      <div id="square">
        <img id="squareimg" src="__PUBLIC__/img/4-9.png" style="width:100%">
      </div>
      <div id="egg1">
        <img src="__PUBLIC__/img/3-3.png" style="width:100%">
      </div>
      <div id="egg2">
        <img src="__PUBLIC__/img/3-3.png" style="width:100%;">
      </div>
      <div id="egg3">
        <img src="__PUBLIC__/img/3-3.png" style="width:100%">
      </div>
      <div id="egg-pro">
        <img src="__PUBLIC__/img/3-4.png" style="width:100%">
      </div>     
      <div id="memory">
        <img src="__PUBLIC__/img/3-5.png" style="width:100%">
      </div>
    </div>
  </div>
</body>

 <script type="text/javascript">
    function onload(){
    var sen = "Home";  
    var width = document.documentElement.clientWidth;
    var height = document.documentElement.clientHeight;
    var ratio = width / height;
    if (ratio > (9 / 16)) {
      var bodywidth = height * 9 / 16;
      var margin = (width - bodywidth) / 2;
      document.getElementById(sen).style.height= height + 'px';
      document.getElementById(sen).style.width= bodywidth + 'px';
      document.getElementById(sen).style.marginLeft= margin + 'px';
      document.getElementById(sen).style.marginRight= margin + 'px';
    }else if(ratio < (9 / 16)){
      var bodyheight = width * 16 / 9;
      var margin = (height - bodyheight) / 2;
      document.getElementById(sen).style.height = bodyheight + 'px';
      document.getElementById(sen).style.width = width + 'px';
      document.getElementById(sen).style.marginTop = margin + 'px';
      document.getElementById(sen).style.marginBottom = margin + 'px';
    }else{
      document.getElementById(sen).style.height = height + 'px';
      document.getElementById(sen).style.width = width + 'px';
      document.getElementById(sen).style.marginTop = 0 + 'px';
      document.getElementById(sen).style.marginBottom = 0 + 'px';
    }
    document.getElementById("square").style.display = "none";
  }
  onload(); 
  disappeare();

function operate1(){
    document.getElementById('egg1').style.display=""; 
}
function operate2(){ 
    document.getElementById('egg2').style.display="";  
}
function operate3(){
    document.getElementById('egg3').style.display="";  
}
function operate4(){
    document.getElementById('egg-pro').style.display="";  
    window.location.href='https://www.link-studio.cn/graduate/Home/Index/index4';
    // window.location.href='http://localhost/graduate100/graduate/Home/Index/index4';
}
function disappeare(){
    document.getElementById('egg1').style.display="none";
    document.getElementById('egg2').style.display="none";
    document.getElementById('egg3').style.display="none";
    document.getElementById('egg-pro').style.display="none";
    setTimeout("operate1()",800);
    setTimeout("operate2()",1600);
    setTimeout("operate3()",2400);
    setTimeout("operate4()",3200);
}

</script>
</html>
